
<div class="profile-info-options">
  <div class="profile-info-card">
    <div class="profile-info-title">
      <h2> My Profile</h2>
    </div>
    <div class="profile-info-content">
      <p><b>Name :</b></p>
      <p><%= @user.first_name.capitalize %> <%= @user.last_name.capitalize %></p>
    </div>
    <div class="profile-info-content">
      <p><b>Phone :</b></p>
      <p><%= @user.phone_number %></p>
    </div>
    <div class="profile-info-content">
      <p><b>Email :</b></p>
      <p><%= @user.email %></p>
    </div>
  </div>

  <div class="profile-options">
    <div class="my-3">
      <%= link_to new_item_path do %>
        <button class="new-item-button">New item</button>
      <% end %>
    </div>
    <div class="my-3">
      <%= link_to edit_user_registration_path(@user) do %>
        <button class="edit-profile-button">Edit Profile</button>
      <% end %>
    </div>
    <div class="my-3">
      <%= link_to user_registration_path, data: {turbo_method: :delete, turbo_confirm: 'Are you sure?' } do %>
        <button class="delete-profile-button">Delete Profile</button>
      <% end %>

    </div>
  </div>
</div>


<div class="container-fluid p-3">
  <div class="p-3 m-4"> <h2>My Bookings</h2></div>
  <div class="flexbox d-flex flex-wrap justify-content">
    <% @bookings.each do |booking| %>
      <div class="space p-3">
          <div class="booking-item-card rounded-4">
            <div><%= image_tag booking.item.picture, class: 'index-card-img-top rounded-top-4' %> </div>
            <div class="card-elements p-2 rounded-bottom-4">
              <div class="d-flex justify-content-between p-1">
                <p class="card-title"><%= booking.item.name %></p>
                <p class="card-price"><%= booking.item.price %>€</p>
              </div>
              <div class="d-flex justify-content-between p-1">
                <%= link_to edit_booking_path(booking) do %>
                  <button class="edit-booking-button">Edit Booking</button>
                <% end %>
                <%= link_to booking_path(booking), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?' } do %>
                  <button class="delete-booking-button">Delete Booking</button>
                <% end %>
              </div>
            </div>
          </div>
      </div>
    <% end %>
  </div>
  </div>
