<div class="container my-3">
<h2>Profile</h2>

  <div class="card m-3">
    <p><strong>First name:</strong> <%= @user.first_name %></p>
    <p><strong>Last name:</strong> <%= @user.last_name %></p>
    <p><strong>Email:</strong> <%= @user.email %></p>
    <p><strong>Phone number:</strong> <%= @user.phone_number %></p>
    <!-- Add more item details here if needed -->

  </div>


  <%= link_to "Edit info", edit_user_registration_path(@user), class: "btn btn-primary" %>
  <%= link_to "Delete account", destroy_user_session_path, data: {turbo_method: :delete}, class: "btn btn-primary" %>

</div>


<div class="container my-3">
  <h2>Bookings</h2>
  <div class="d-flex flex-row flex-wrap align-items-center justify-content-center p-3">
    <% @bookings.each do |booking| %>
      <div class="card m-1 col-3 border rounded-4 shadow-sm">
        <%= image_tag booking.item.picture, class: 'card-img-top rounded-top-4' %>
          <div class="card-body rounded-bottom">
            <div class="d-flex justify-content-between">
              <h5 class="card-title"><%=  booking.item.name %></h5>
              <p class="card-price"><%=  booking.item.price %>€</p>
            </div>
          </div>
        </div>
    <% end %>

  </div>

</div>
