<div class="container my-5 pt-5">
  <h2 class="mb-3">Profile</h2>
  <div class="card shadow">
    <div class="card-body">
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><strong>First name:</strong> <%= @user.first_name %></li>
        <li class="list-group-item"><strong>Last name:</strong> <%= @user.last_name %></li>
        <li class="list-group-item"><strong>Email:</strong> <%= @user.email %></li>
        <li class="list-group-item"><strong>Phone number:</strong> <%= @user.phone_number %></li>
        <!-- Add more item details here if needed -->
      </ul>
      <div class="d-flex justify-content-end mt-3">
        <%= link_to "Edit info", edit_user_registration_path(@user), class: "btn btn-primary me-2" %>
        <%= link_to "Delete account", user_registration_path, data: {turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: "btn btn-danger" %>
      </div>
    </div>
  </div>

  <h2 class="mt-5 mb-3">Bookings</h2>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <% @bookings.each do |booking| %>
      <div class="col">
        <div class="card h-100 shadow">
          <%= image_tag booking.item.picture, class: 'card-img-top' %>
          <div class="card-body">
            <h5 class="card-title"><%=  booking.item.name %></h5>
            <p class="card-text"><%=  booking.item.price %>€</p>
            <p class="card-text"><small class="text-muted"><%=  booking.start_date %> - <%=  booking.end_date %></small></p>
          </div>
          <div class="card-footer">
            <%= link_to "Edit booking" , edit_booking_path(booking), class: "btn btn-primary me-2" %>
            <%= link_to "Delete booking", booking_path(booking), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class: "btn btn-danger" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
