<div class="container py-5 mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card border-0 shadow-lg">
        <div class="card-header bg-dark text-white rounded">
          <h2 class="mb-0">Forgot your password?</h2>
        </div>
        <div class="card-body">
          <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <%= f.error_notification %>
            <div class="form-group">
              <%= f.input :email,
                          required: true,
                          autofocus: true,
                          input_html: { autocomplete: "email", class: 'form-control' } %>
            </div>
            <div class="form-group">
              <%= f.button :submit, "Send me reset password instructions", class: 'btn btn-primary btn-block my-3 text-white' %>
            </div>
          <% end %>
          <div class="form-group">
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
