<div class="container">
<h2>Check these Items</h2>
<% @items.each do |item| %>
  <div class="card">
    <img src="<%= item.image_url %>" alt="<%= item.name %>">
    <div class="card-body">
      <h5 class="card-title"><%= item.name %></h5>
      <p class="card-text">Price: <%= item.price %></p>
      <p class="card-text">Availability: <%= item.availability %></p>
    </div>
  </div>
<% end %>
</div>
