<div class="banner img-fluid" style="background-image: url('https://th.bing.com/th/id/R.c6fc6d54a474f5b2c1ff8f460c14a481?rik=lSe2pXfVxAufXw&pid=ImgRaw&r=0');">
  <h1>Welcome to EquipMe!</h1>
</div>


<div class="container">
<div class="d-flex align-items-center justify-content-center p-3"> <h2>Check the Items</h2></div>
<div class="d-flex flex-row flex-wrap align-items-center justify-content-center p-3">
<% @items.each do |item| %>
  <div class="card m-1 col-3 border rounded-4 shadow-sm">
    <%= image_tag item.picture, class: 'card-img-top rounded-top-4' %>
      <div class="card-body rounded-bottom">
        <div class="d-flex justify-content-between">
          <h5 class="card-title"><%= item.name %></h5>
          <p class="card-price"><%= item.price %>€</p>
        </div>
      <p class="card-availibitly">Availability: <%= item.availability %></p>
      <%= link_to "show details", item_path(item), class: "btn btn-primary" %>
      </div>
    </div>

<% end %>
</div>
</div>
