<div class='container'>
  <h1 class='m-3'>Item Details</h1>
  <div class="card m-3 rounded-4 shadow-sm">
    <%= image_tag @item.picture, class: 'card-img-top rounded-top-4' %>
    <h2 class='m-3'><%= @item.name %></h2>
    <div class='content-show d-flex wrap justify-content-around'>
      <p><strong>Price:</strong> <%= @item.price %>€</p>
      <p><strong>Description:</strong> <%= @item.description %></p>
      <p><strong>Address:</strong> <%= @item.address %></p>
      <p><strong>Category:</strong> <%= @item.category %></p>
      <p><strong>Availability:</strong> <%= @item.availability %></p>
    </div>

    <div id="map" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>" data-controller="map" data-map-target="map" style="height: 400px; width: 100%;"></div>

    <div class="d-flex justify-content-between m-3">
      <%= link_to "Back to Items", root_path, class: "btn btn-primary rounded-4" %>
      <%= link_to "Create New Item", new_item_path, class: "btn btn-success rounded-4" %>
      <%= link_to "Book Item", new_item_booking_path(@item), class: "btn btn-success" %>
    </div>
  </div>
</div>
