<div class='container'>
  <h1 class='m-3'>Item Details</h1>
  <div class="card m-3 rounded-4 shadow-sm d-flex flex-row">
    <!-- Left side: Image -->
    <div class="item-details-left">
      <div class="image-container">
        <%= image_tag @item.picture, class: 'rounded-start-4 img-fluid' %>
      </div>
    </div>

    <!-- Right side: Item details -->
    <div class='d-flex flex-column justify-content-center align-items-center flex-grow-1'>
      <div class="card-body">
        <h2 class='card-title text-center'><%= @item.name %></h2>
        <p class="card-text text-center"><strong>Description:</strong> <%= @item.description %></p>
        <p class="card-text text-center"><strong>Address:</strong> <%= @item.address %></p>
        <p class="card-text text-center"><strong>Category:</strong> <%= @item.category %></p>
        <p class="card-text text-center"><strong>Availability:</strong> <%= @item.availability %></p>
      </div>
    </div>

    <!-- Div for Price, Availability, and Book Now -->
    <div class="item-details-right border border-solid border-dark p-3 d-flex flex-column align-items-center justify-content-center">
      <p class="card-text"><strong>Price:</strong> <%= @item.price %>€</p>
      <p class="card-text"><strong>Availability:</strong> <%= @item.availability %></p>
      <%= link_to "Book Now", new_item_booking_path(@item), class: "btn btn-success rounded-4 mt-3" %>
    </div>
  </div>

  <!-- Map -->
  <div id="map" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>" data-controller="map" data-map-target="map" style="height: 400px; width: 100%;"></div>
</div>
