<h1>Item Details</h1>

<div class="card m-3">
  <h2><%= @item.name %></h2>
  <p><strong>Price:</strong> <%= @item.price %>€</p>
  <p><strong>Description:</strong> <%= @item.description %></p>
  <p><strong>Adress:</strong> <%= @item.adress %></p>
  <p><strong>Category:</strong> <%= @item.category %></p>
  <p><strong>Availability:</strong> <%= @item.availability %></p>
  <!-- Add more item details here if needed -->

</div>

<%= link_to "back to items", root_path, class: "btn btn-primary" %>
<%= link_to "Create New Item", new_item_path, class: "btn btn-success" %>
<%= link_to "Book Item", new_item_booking_path(@item), class: "btn btn-success" %>
