<div class="fixed-top" data-controller="navbar-toggle" >
  <div class="navigation-bar">
    <div data-action="click->navbar-toggle#fireBurger" class="navigation-bar-button">
      <div class="navigation-bar-link">
        <div class="navigation-bar-icon"><i class="fa-solid fa-bars"></i></div>
      </div>
    </div>

    <div class="navigation-bar-button">
      <%= link_to root_path, :class => "navigation-bar-link" do %>
        <div class="navigation-bar-title">EquipMe</div>
      <% end %>
    </div>

    <div data-action="click->navbar-toggle#fireUser" class="navigation-bar-button">
      <div class="navigation-bar-link">
        <div class="navigation-bar-icon"><i class="fa-solid fa-user"></i></div>
      </div>
    </div>
  </div>

  <div data-navbar-toggle-target="burgerMenu" class="navigationn-bar-toggle-burger d-none">
    <% if user_signed_in? %>
      <%= link_to new_item_path, :class => "navigation-bar-link" do %>
        <div class="navigationn-bar-toggle-option-burger"><p><i class="fa-solid fa-plus"></i> New items</p></div>
      <% end %>
      <%= link_to user_path(current_user), :class => "navigation-bar-link" do %>
        <div class="navigationn-bar-toggle-option-burger"><p><i class="fa-solid fa-xmark"></i> Delete items</p></div>
      <% end %>
    <% else %>
      <%= link_to new_item_path, :class => "navigation-bar-link" do %>
        <div class="navigationn-bar-toggle-option-burger"><p><i class="fa-solid fa-plus"></i> New items</p></div>
      <% end %>
      <%= link_to new_user_session_path, :class => "navigation-bar-link" do %>
        <div class="navigationn-bar-toggle-option-burger"><p><i class="fa-solid fa-xmark"></i> Delete items</p></div>
      <% end %>
    <% end %>
  </div>
  <div data-navbar-toggle-target="userMenu" class="navigationn-bar-toggle-user d-none">
    <% if user_signed_in? %>
      <%= link_to user_path(current_user), :class => "navigation-bar-link" do %>
        <div class="navigationn-bar-toggle-option-user"><p>Profile</p></div>
      <% end %>
      <%= link_to destroy_user_session_path(current_user), :class => "navigation-bar-link" do %>
        <div class="navigationn-bar-toggle-option-user"><p>Log Out</p></div>
      <% end %>
    <% else %>
      <%= link_to new_user_session_path, :class => "navigation-bar-link" do %>
        <div class="navigationn-bar-toggle-option-user"><p>Log In</p></div>
      <% end %>
      <%= link_to new_user_registration_path, :class => "navigation-bar-link" do %>
        <div class="navigationn-bar-toggle-option-user"><p>Sign Up</p></div>
      <% end %>
    <% end %>
  </div>
</div>
