<!DOCTYPE html>
<html>
  <head>
    <title>EquipMe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <p class="notice p-0 m-0"><%= notice %></p>
    <p class="alert p-0 m-0"><%= alert %></p>

    <%= render partial: "layouts/navbar" %>

    <%= yield %>
  </body>
</html>
